In [22]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
class Abstract:
    def __init__(self, read_prefix = '/Users/lynnjiang/liuGit/data/%s.csv',\
                 write_prefix = '/Users/lynnjiang/liuGit/data/temp/%s.csv'):
        self.read_prefix = read_prefix
        self.write_prefix = write_prefix

    def read_data(self, filename):
        return pd.read_csv(self.read_prefix % filename, sep=',', encoding='latin1')

    def write2file(self,temp_result,filename):
        temp_result.to_csv(self.write_prefix % filename,index=False)

    def left_join(self, left_df, right_df, joined_field):
        return pd.merge(left_df, right_df, how='left', on=[joined_field])

    def inner_join(self, left_df, right_df, joined_field):
        return pd.merge(left_df, right_df, how='inner', on=[joined_field])

In [145]:
aa =Abstract()
joined_df = aa.read_data('temp/joined_user_vectors_resetindex')
lab_user_vectors = aa.read_data('temp/labtest_uservectors').sort_values(by = 'SUBJECT_ID')
pres_user_vectors = aa.read_data('temp/prestest_uservectors').sort_values(by = 'SUBJECT_ID')
diagnoses = aa.read_data('temp/diagnosis_label_4280').sort_values(by = 'SUBJECT_ID')

In [33]:
joined_df.sort_values(by='SUBJECT_ID').head()

,SUBJECT_ID,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,28,12.0,12.500000,13.0,0.577350,19.0,24.600000,29.0,4.335897,8.000000,...,0.000000,0.666667,50.000000,0.0,0.937500,42.857143,6.666667,16.666667,0.750000,0.000000
1,34,10.0,13.166667,16.0,2.483277,23.0,25.833333,28.0,1.940790,8.400000,...,0.000000,0.000000,50.000000,0.0,0.000000,0.000000,20.000000,0.000000,1.200000,0.000000
2,36,6.0,11.457143,16.0,1.945475,21.0,27.025641,35.0,3.099127,7.300000,...,1.833333,1.000000,28.928571,0.0,4.048387,250.000000,12.307692,18.181818,0.571429,318.181818
3,64,8.0,14.740000,21.0,2.257052,16.0,22.940000,27.0,2.179777,5.800000,...,0.071429,0.192308,0.000000,0.0,0.264706,27.419355,3.098592,8.823529,0.000000,0.000000
4,69,12.0,14.500000,17.0,3.535534,21.0,21.500000,22.0,0.707107,7.798155,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000

In [147]:
lab_user_purevectors = lab_user_vectors.drop('SUBJECT_ID', 1)
head(lab_user_purevectors)
lab_user_purevectors.head()

2277

In [149]:
pres_user_purevectors = pres_user_vectors.drop('SUBJECT_ID', 1)
pres_user_purevectors.head()

,AVG_DOSE_VAL_RX,AVG_DOSE_VAL_RX.1,AVG_DOSE_VAL_RX.2,AVG_DOSE_VAL_RX.3,AVG_DOSE_VAL_RX.4,AVG_DOSE_VAL_RX.5,AVG_DOSE_VAL_RX.6,AVG_DOSE_VAL_RX.7,AVG_DOSE_VAL_RX.8,AVG_DOSE_VAL_RX.9,AVG_DOSE_VAL_RX.10,AVG_DOSE_VAL_RX.11,AVG_DOSE_VAL_RX.12,AVG_DOSE_VAL_RX.13,AVG_DOSE_VAL_RX.14,AVG_DOSE_VAL_RX.15,AVG_DOSE_VAL_RX.16,AVG_DOSE_VAL_RX.17,AVG_DOSE_VAL_RX.18,AVG_DOSE_VAL_RX.19
0,0.00,0.0,177.272727,0.666667,125.000000,25.000000,9.090909,0.000000,0.0,0.000000,0.000000,0.666667,50.000000,0.0,0.937500,42.857143,6.666667,16.666667,0.750000,0.000000
1,100.00,0.0,227.500000,0.000000,350.000000,0.000000,11.666667,0.000000,0.0,50.000000,0.000000,0.000000,50.000000,0.0,0.000000,0.000000,20.000000,0.000000,1.200000,0.000000
2,260.05,125.0,133.250000,0.727273,73.076923,25.000000,11.333333,1159.090909,0.0,48.387097,1.833333,1.000000,28.928571,0.0,4.048387,250.000000,12.307692,18.181818,0.571429,318.181818
3,0.00,0.0,70.961538,0.000000,19.444444,7.142857,2.000000,0.000000,0.0,41.666667,0.071429,0.192308,0.000000,0.0,0.264706,27.419355,3.098592,8.823529,0.000000,0.000000
4,0.00,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000

In [51]:
diagnoses.head()

    SUBJECT_ID  LABEL
8            3      1
9            9      1
10          21      1
11          26      1
13          34      1

## LABEVENTS

In [58]:
kmeans = KMeans(n_clusters=2).fit(lab_user_purevectors)
aa.write2file(pd.DataFrame({'SUBJECT_ID':lab_user_vectors['SUBJECT_ID'],'PRED':kmeans.labels_}),\
              'lab_predicted_diagnosis')

In [59]:
lab_pred_df = pd.DataFrame({'SUBJECT_ID':lab_user_vectors['SUBJECT_ID'],'PRED':kmeans.labels_})

In [65]:
lab_valid_df = aa.left_join(lab_pred_df,diagnoses,'SUBJECT_ID')
lab_valid_df[['LABEL']] = lab_valid_df[['LABEL']].fillna(0)
lab_valid_df.head()

   SUBJECT_ID  PRED  LABEL
0          28     0    0.0
1          34     0    1.0
2          34     0    1.0
3          36     0    0.0
4          64     0    0.0

In [67]:
np.mean(lab_valid_df['PRED']==lab_valid_df['LABEL'])

0.7190016103059581

In [66]:
np.mean(lab_valid_df['PRED']!=lab_valid_df['LABEL'])

0.2809983896940419

## Prescriptions

In [150]:
pres_user_purevectors.columns = range(pres_user_purevectors.shape[1])
pres_user_purevectors.head()
# kmeans = KMeans(n_clusters=2).fit(pres_user_purevectors)
# aa.write2file(pd.DataFrame({'SUBJECT_ID':lab_user_vectors['SUBJECT_ID'],'PRED':kmeans.labels_}),\
#               'lab_predicted_diagnosis')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.00,0.0,177.272727,0.666667,125.000000,25.000000,9.090909,0.000000,0.0,0.000000,0.000000,0.666667,50.000000,0.0,0.937500,42.857143,6.666667,16.666667,0.750000,0.000000
1,100.00,0.0,227.500000,0.000000,350.000000,0.000000,11.666667,0.000000,0.0,50.000000,0.000000,0.000000,50.000000,0.0,0.000000,0.000000,20.000000,0.000000,1.200000,0.000000
2,260.05,125.0,133.250000,0.727273,73.076923,25.000000,11.333333,1159.090909,0.0,48.387097,1.833333,1.000000,28.928571,0.0,4.048387,250.000000,12.307692,18.181818,0.571429,318.181818
3,0.00,0.0,70.961538,0.000000,19.444444,7.142857,2.000000,0.000000,0.0,41.666667,0.071429,0.192308,0.000000,0.0,0.264706,27.419355,3.098592,8.823529,0.000000,0.000000
4,0.00,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000

In [151]:
pres_user_purevectors[:20]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.000000,0.000000,177.272727,0.666667,125.000000,25.000000,9.090909,0.000000,0.000000,0.000000,0.000000,0.666667,50.000000,0.0,0.937500,42.857143,6.666667,16.666667,0.750000,0.000000
1,100.000000,0.000000,227.500000,0.000000,350.000000,0.000000,11.666667,0.000000,0.000000,50.000000,0.000000,0.000000,50.000000,0.0,0.000000,0.000000,20.000000,0.000000,1.200000,0.000000
2,260.050000,125.000000,133.250000,0.727273,73.076923,25.000000,11.333333,1159.090909,0.000000,48.387097,1.833333,1.000000,28.928571,0.0,4.048387,250.000000,12.307692,18.181818,0.571429,318.181818
3,0.000000,0.000000,70.961538,0.000000,19.444444,7.142857,2.000000,0.000000,0.000000,41.666667,0.071429,0.192308,0.000000,0.0,0.264706,27.419355,3.098592,8.823529,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000
6,118.242424,112.931034,125.000000,1.705882,136.705202,16.814159,37.333333,1102.816901,0.000000,69.767442,0.857143,1.550000,26.538462,5.0,1.466019,124.264706,10.000000,45.454545,0.618705,359.090909
7,0.000000,0.000000,0.000000,3.071429,109.090909,0.000000,24.800000,5000.000000,7.666667,44.642857,0.000000,2.000000,0.000000,0.0,2.208333,95.833333,12.800000,32.352941,0.250000,0.000000
8,0.000000,0.000000,0.000000,0.000000,125.000000,33.333333,30.000000,5000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.200000,0.000000
9,0.000000,125.000000,325.000000,0.000000,0.000000,33.333333,36.000000,1666.666667,0.000000,25.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.500000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,12.500000,0.000000,0.000000,0.000000
11,0.000000,0.000000,97.500000,1.200000,250.000000,20.000000,0.000000,3333.333333,0.000000,0.000000,0.000000,1.875000,0.000000,0.0,0.000000,105.000000,20.000000,0.000000,1.500000,0.000000
12,0.000000,0.000000,0.000000,1.000000,67.857143,0.000000,20.000000,0.000000,5.000000,0.000000,0.000000,1.250000,0.000000,0.0,0.000000,159.375000,18.333333,60.000000,0.500000,0.000000
13,0.000000,0.000000,139.285714,0.000000,0.000000,0.000000,15.000000,0.000000,0.000000,38.888889,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.818182,0.000000
14,0.000000,0.000000,54.166667,0.000000,50.000000,11.111111,10.000000,555.555556,0.000000,0.000000,1.100000,1.000000,27.941176,0.0,17.500000,33.333333,22.857143,0.000000,0.333333,0.000000
15,0.000000,0.000000,243.750000,0.000000,166.666667,0.000000,0.000000,2500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,162.500000,1.000000,307.692308,50.000000,0.000000,0.000000,13.214286,0.000000,0.000000,2.000000,26.666667,0.0,0.750000,202.777778,18.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,144.444444,0.333333,112.500000,20.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.333333,13.055556,0.0,0.000000,135.000000,8.750000,30.000000,0.600000,0.000000
18,0.000000,0.000000,121.875000,0.500000,62.500000,22.222222,8.571429,0.000000,0.000000,66.666667,0.000000,0.800000,23.333333,0.0,1.125000,25.000000,9.523810,12.500000,0.500000,0.000000
19,0.000000,0.000000,325.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,inf,0.000000,2.000000,0.000000,0.0,0.000000,0.000000,20.000000,50.000000,0.000000,0.000000

In [159]:
np.isfinite(pres_user_purevectors.T).all()[:20]

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19    False
dtype: bool

In [154]:
pres_user_purevectors_deinfinit = pres_user_purevectors.replace([np.inf, -np.inf], 0)

In [155]:
kmeans2 = KMeans(n_clusters=2).fit(pres_user_purevectors_deinfinit)

In [156]:
aa.write2file(pd.DataFrame({'SUBJECT_ID':pres_user_vectors['SUBJECT_ID'],'PRED':kmeans2.labels_}),\
              'pres_predicted_diagnosis')

In [157]:
pres_pred_df = pd.DataFrame({'SUBJECT_ID':pres_user_vectors['SUBJECT_ID'],'PRED':kmeans2.labels_})
pres_valid_df = aa.left_join(pres_pred_df,diagnoses,'SUBJECT_ID')
pres_valid_df[['LABEL']] = pres_valid_df[['LABEL']].fillna(0)
pres_valid_df.head()

   SUBJECT_ID  PRED  LABEL
0          28     1    0.0
1          34     1    1.0
2          34     1    1.0
3          36     1    0.0
4          64     1    0.0

In [158]:
np.mean(pres_valid_df['PRED']==pres_valid_df['LABEL'])

0.4053398058252427

## Combination

In [161]:
joined_df_deinf = joined_df.replace([np.inf, -np.inf], 0).drop('SUBJECT_ID', 1)
kmeans3 = KMeans(n_clusters=2).fit(joined_df_deinf)
joined_pred_df = pd.DataFrame({'SUBJECT_ID':joined_df['SUBJECT_ID'],'PRED':kmeans3.labels_})
joined_pred_df.head()

   SUBJECT_ID  PRED
0          28     0
1          34     0
2          36     0
3          64     0
4          69     0